<!DOCTYPE html>
<html>
<head>
  <title>Add Movie</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="user-movies">
    <h1>Add Movie for {{ user.name }}</h1>
    <form method="POST">
      <label for="title">Title:</label>
      <input type="text" id="title" name="name" required> <input type="submit" value="Add Movie">
    </form>
    <a href="{{ url_for('user_movies', user_id=user.id) }}" class="back-link">Back to Movie List</a>
  </div>
</body>
</html>